<%- include("partials/header"); -%>

<h1></h1>
    <p> <%= forgotContent %> </p>



<body class="text-center">
    <div class="xxx">
      <form action="/forgot" class="AA" method="POST">
    <img class="mb-4 circular" src="images/logo.png" alt="" width="72" height="72">
    <input type="email" name="email" class="A middle" placeholder="Email" required>
    <input type="password" name="gName" class="A middle" placeholder="old password "required>
      <input type="password" name="gName" class="A middle" placeholder="New password "required>
    <div class="">
      <button class="btn-lg btn-primary" type="submit">Login</button>
    </div>
    <p class="mt-5 mb-3 text-muted">© Osanyinlusi Oluwafemi</p>
  </form>
    </div>

</body>
