<%- include("partials/header"); -%>

<body class="text-center">
    <form action="/register" class="AA" method="POST">
      <div class="form-group">
        <img class="mb-4 circular" src="images/logo.png" alt="" width="52" height="52">

        <input type="text" name="fName"class="A top" placeholder="First Name" required autofocus>
        <input type="text" name="lName" class="A middle" placeholder="Last Name" required>
        <input type="email" name="email" class="A middle" placeholder="Email" required>
        <input type="password" name="gName" class="A middle" placeholder="PASSWORD "required>
        <input type="password" name="hName" class="A bottom" placeholder="CONFIRM PASSWORD"required>
        <button class="btn-lg btn-primary " type="submit">Register</button>
      </div>


  <p class="mt-5 mb-3 text-muted">© Osanyinlusi Oluwafemi</p>
</form>
</body>


<h1></h1>
    <p> <%=registerContent %> </p>
